/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
#mode_edition {
	display: none;
	background-color: black;
	color: white;
	position: fixed;
	width: 100%;
	height: 50px;
	text-align: center;
	top: 0;
	left: 0;
}
#mode_edition i {
    margin-top: 17px;
}
#md_edition {
	display: none;
    display: inline-flex;
	vertical-align: middle;
    margin-left: 15px;
	font-weight: normal;
	color: black;
	font-size: 14px;
}
#md_edition a {
	text-decoration: none;
	color: inherit;
}

a#login {
    color: black;
    font-weight:lighter;
    text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.3em;
}

li:hover {
	color: black;
    font-weight:900;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
    text-align: center;
    margin-top: 3em;
	margin-bottom: 2em;
}

.filters {
	display: flex;
	justify-content: center;
    gap: 15px;
    margin: 20px 0;
}
.category_filter {
	background-color: white;
	color: #35564A;
	border: 2px solid #35564A;
	border-radius: 30px;
	padding: 10px 20px;
	font-size: 16px;
	font-family: Arial, sans-serif;
  }

  .active_button {
	background-color: #35564A;
	color: white;
  }
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

* {box-sizing: border-box;}
#modal-wrapper {
	width: 630px;
	height: 688px;
	position: absolute;
	left: 680px;
	top: 520px;
	border-radius: 10px;
	display: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Style de base pour masquer la modale */
  
  /* Le contenu de la boîte modale */
  .modal {
	background-color: white;
	border-radius: 10px; 
	width: 600px; 
	max-width: 80vw;  
	max-height: 90vh; 
	padding: 20px;
	overflow-y:auto;  
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2); 
	position: relative; 
  }

  .title-modal {
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	line-height: 30.5px;
	text-align: center;
	color: black;
  }

  #close-modal {
	position: absolute; 
	top: 10px;          
	right: 10px;        
	background: none;   
	border: none;       
	font-size: 16px;    
	cursor: pointer;
  }

  #validate-button {
	position: absolute;  
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%);
	background-color: #1D6154;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
	padding-left: 80px;
	padding-right: 80px;
	border: none;
    border-radius: 25px;
    cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
  }

  /* Modale */

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    animation: fadeIn .3s both;
}
.modal-wrapper {
    overflow: auto;
    width: 700px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    animation: slideFromTop .5s both;
}

.modal[aria-hidden="true"] {
    animation-name: fadeOut;
}

.modal[aria-hidden="true"] .modal-wrapper {
    animation-name: slideToBottom;
}
.js-modal-close {
    position: absolute;
    top: 20px;
    right: 30px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.js-modal-back {
    position: absolute;
    top: 20px;
    left: 30px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#modal h3 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
}

.modal-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.modal-result {
    position: relative;
    width: 100%;
    height: auto;
}

.modal-image {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 85%;
}

.fa-trash-can {
    position: absolute;
    top: 37px;
    right: 6px;
    z-index: 1;
    color: white;
    background-color: black;
    font-size: 12px;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
}

/* Modale de confirmation */
.confirmation-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confirmation-modal.show {
    display: flex;
}

.confirmation-content {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.confirmation-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.confirmation-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#confirmYes {
    background-color: #67ac6a;
    color: white;
}

#confirmNo {
    background-color: #f46d63;
    color: white;
}

.separator-1 {

    height: 2px;
    background-color: #ccc;
    margin: 80px 100px 50px;
}

#modal-gallery input[type="submit"] {
    display: flex;
    width: 40%;
    padding: 10px;
    margin-top: 0;
    justify-content: center;
    background-color: #1D6154;
    color: #fff;
    border: none;
    cursor: pointer;
}
#modal-gallery input[type="submit"]:hover {
    background-color: #14503B;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes slideFromTop {
    from { transform: translateY(-50px); }
    to { transform: translateY(0px); }
}

@keyframes slideToBottom {
    from { transform: translateY(0px); }
    to { transform: translateY(50px); }
}

.modal-add-work {
    display: none;
}

.modal-add-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6eef3;
    border-radius: 5px;
    margin: 35px 105px 0 105px;
}

#modal-form .modal-add-photo .preview-image {
    max-width: 490px;
    max-height: 185px;
    object-fit: contain;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    padding: 12px 33px;
    color: #306685;
    background-color: #cdd2d6;
    border-radius: 50px;
    font-size: 16px;
}

.custom-file-upload:hover {
    background-color: #ddd;
}


#modal-form i {
    padding-top: 20px;
    font-size: 80px;
    color: #B9C5CC;
    padding-bottom: 10px;
}

#form-image {
    opacity: 0;
}

#modal-form p {
    font-size: 10px;
    color: #929597;
    margin-top: 5px;
    margin-bottom: 20px;
}

#modal-form .modal-label {
    display: flex;
    flex-direction: column;
    padding: 10px 105px 0 105px;
}

.modal-label input[type="text"], select {
    height: 50px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    border: none;
}

.modal-label #form-title, .modal-label #category-input {
    padding-left: 16px;
    font-family: 'Work Sans';
    background-color: white;
}

.modal-label label {
    padding-top: 30px;
    padding-bottom: 10px;
}

.separator-2 {
    height: 2px;
    background-color: #ccc;
    margin: 60px 105px 40px;
}

.modal-add-work input[type="submit"] {
    display: flex;
    width: 40%;
    padding: 10px;
    margin-top: 0;
    justify-content: center;
    background-color: #a0a0a0;
    color: #fff;
    border: none;
    cursor: pointer;
}

.active_button {
    color: white;
    background-color: #1D6154;
}

#valider.valid {
    background-color: #1D6154;
}

#valider.valid:hover {
    background-color: #14503B;
}


/* Login */

/* Global Styles */
body {
    font-family: 'Work Sans', sans-serif;
    background-color:#FFFEF8;
    ; /* Couleur de fond */
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #FFFEF8;
}

header h1 {
    font-family: 'Syne', sans-serif;
    font-size: 24px;
    color: #A05D36; /* Couleur du logo texte */
    margin: 0;
}

header span {
    display: block;
    font-size: 12px;
    font-weight: 400;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav ul li {
    font-size: 16px;
    text-transform: lowercase;
    color: #333;
    cursor: pointer;
}

nav ul li:nth-child(3) {
    font-weight: bold; /* Surligne l'élément "login" */
}

nav ul li img {
    width: 20px;
    height: 20px;
    color: black;
}

/* Login Container */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Hauteur de la fenêtre moins la hauteur du header */
}

.login-container h2 {
    font-family: 'Syne', sans-serif;
    font-size: 32px;
    color: #36544F; /* Couleur du texte "Log In" */
    margin-bottom: 30px;
}

/* Form Styles */
#loginForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alignement à gauche pour les champs */
    width: 300px;
    gap: 20px; /* Espacement entre les champs */
}

#loginForm input[type="email"],
#loginForm input[type="password"] {
    width: 320px;
    padding: 15px;
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Ombre légère */
    font-size: 16px;
    color: black /* Couleur du texte */
}

#loginForm input[type="email"]::placeholder,
#loginForm input[type="password"]::placeholder {
    color: #A5A5A5; /* Couleur du placeholder */
}

#loginForm input[type="submit"] {
    width: 200px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px; /* Bordures arrondies */
    background-color: #36544F; /* Couleur du bouton */
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    margin: 25px 0; /* Espace entre le bouton et les champs */
    align-self: center; /* Aligne le bouton au centre */
    transition: background-color 0.3s ease;
}

#loginForm input[type="submit"]:hover {
    background-color: #2B433B; /* Changement de couleur au survol */
}

/* Labels Styles */
#loginForm label {
    font-size: 14px;
    color: #333; /* Couleur des labels */
    font-weight: bold;
}

/* Error Message Styles */
#errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* Additional Styling for Links */
.login-container a {
    color:black; /* Couleur du lien "Mot de passe oublié" */
    text-decoration: none;
    font-size: 14px;
    display: block;
    text-align: center;
}

.login-container a:hover {
    text-decoration: underline;
}


.footer {
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: right;
    padding: 10px 20px;
    box-sizing: border-box;
}

/* Style du label "Mentions légales" */
.legal-info {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}